[submodule "mpv"]
	path = mpv
	url = https://github.com/ang3lo-azevedo/mpv

[submodule "refind/refind-black"]
	path = refind/refind-black
	url = https://github.com/andersfischernielsen/rEFInd-minimal-black
