# Nix build artifacts
/result
/result-*
/nix-build-*

# Local VM artifacts
*.qcow2
*.tar.xz

# Local backup/export dumps
/portainer-backup*/

ida*
!ida-pro*

*binaryninja*
*keygen*
*Keygen*
license*
*crack*
!hash-cracking

!*.nix

/server-services/