# Nix build artifacts
/result
/result-*
/nix-build-*

# Local VM artifacts
*.qcow2

# Local backup/export dumps
/portainer-backup*/

ida*
!ida*.nix
!ida-pro*

binaryninja*
*keygen*
*Keygen*
license*
*crack*

# Exclude large bundled binary ninja zip
modules/home-manager/cyber/rev/binary-ninja/binaryninja_linux_stable_personal.zip
