@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background black;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#privacy {
    padding-left: 1em
}

#mpris {
    padding-left: 1em;
    padding-right: 1em;
}

#mpris.paused {
    color: @foreground-inactive;
}

#mpris.playing {
    color: @foreground;
}

#cpu,
#memory,
#tray,
#idle_inhibitor,
#wireplumber,
#network,
#custom-pacman,
#power-profiles-daemon,
#custom-notification {
    padding-right: 1em 
}

#power-profiles-daemon .power-icon {
    font-size: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 1px 2px;
}

#custom-updates.has-updates {
    color: #f9e2af;
}

#custom-updates.updated {
    color: #a6e3a1;
}

#custom-updates.error {
    color: #f38ba8;
}

#battery.warning .icon {
    color: #f9e2af;
}

#battery.critical .icon {
    color: #f38ba8;
}