@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background black;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#privacy {
    padding-left: 1em
}

#cpu,
#memory,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#backlight,
#wireplumber,
#network,
#bluetooth,
#battery {
    padding-right: 1em 
}

#battery.warning .icon {
    color: #f9e2af;
}

#battery.critical .icon {
    color: #f38ba8;
}
