[Unit]
Description=Trakt Scrobbler Service
After=default.target

[Service]
ExecStart="/home/ang3lo/.local/bin/trakts" run
Env="DISPLAY=:0"

[Install]
WantedBy=default.target